<html>
    <head>
        <title> Senha incorreta </title>
        <link rel="shortcut icon" href="/public/images/logo.ico" type="image/x-icon"/>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>